<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.practicals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Practicals">
        <activity android:name=".p2.StudentRecordsActivity" android:label="Practical 2(.3)" android:parentActivityName=".PracticalOverviewActivity"></activity>
        <activity
            android:name=".p1.ReceiverActivity"
            android:label="@string/practical1_label"
            android:parentActivityName=".p1.SenderActivity" />
        <activity
            android:name=".p1.SenderActivity"
            android:label="@string/practical1_label"
            android:parentActivityName=".p1.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".p1.LoginActivity"
            android:label="Practical 1|2"
            android:parentActivityName=".PracticalOverviewActivity"
            android:theme="@style/Theme.MAD_Practicals.NoActionBar" />
        <activity
            android:name=".PracticalOverviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MAD_Practicals.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>